<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Master Study</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <!-- Link di collegamento file css style.css locale -->
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- Collegamento libreria ajax - sinstassi Mustache-compatible  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>

  <!-- fontawesome icon -->
  <script src="https://kit.fontawesome.com/30fc0982d8.js"></script>
  <script type="text/javascript" src="assets/js/fontawesome/font.js"></script>

  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

</head>
<body>
  <div id="ms_app">
    <header id="ms_header">
      <nav class="navbar">
        <nav id="navbar_top">
          <div class="navbar_top_left">
            <label for=""></label>
            <select class="language" >
              <option v-for="language in languageSelect"><a :href="`${language.link}`">{{language.language}}</a></option>
            </select>
          </div>
          <!-- /.navbar_top_left -->
          <div class="navbar_top_right">
            <ul class="items_menu">
              <li class="navbar_items_menu" v-for="(items, index) in itemsMenu">
                <a :href="`${items.link}`" class="items_menu">{{items.title}}</a>
                <a :href="`${items.badgeTitle}`" v-if="items.badge" class="items_badge">{{items.badgeTitle}}</a>
              </li>
            </ul>
            <ul class="navbar_social flex">
              <li class="social_icon" v-for="(icon,index) in socialIcons">
                <a :href="`${icon.link}`"><i :class="`fab ${icon.icon}`"></i></a>
              </li>
            </ul>
            <!-- /.navbar_social -->
          </div>
          
        </nav>
        <!-- /#navbar_top -->
        <nav id="navbar_bottom"></nav>
        <!-- /#navbar_bottom -->
      </nav>
        <!-- /.navbar -->

      <div class="jumbotron">
        <div class="info_box">
          <h1 class="primary_titel">Start Investing in You</h1>
          <p class="info_spot">With over 1200 courses in 18 subjects, you're guaranteed to find something that's right
            for you.</p>
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo join for free</a>
        </div>
        <div class="img_box">
          <img src="" alt="" id="base">
          <img src="" alt="" id="book_1">
          <img src="" alt="" id="book_2">
          <img src="" alt="" id="book_2">
        </div>
        <!-- /.img_box -->
        <!-- /.info_box -->
      </div>
    </header>
    <!-- /#ms_header -->



  </div>
  <!-- /#ms_app -->


  <!-- Collegamenteo a Vue.js - development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Script di collegamento libreria axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Script collegamento main.j locale  -->
  <script src="assets/js/main.js" charset="utf-8"></script>
  
</body>
</html>