<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Master Study</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <!-- Link di collegamento file css style.css locale -->
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- Collegamento libreria ajax - sinstassi Mustache-compatible  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>

  <!-- fontawesome icon -->
  <script src="https://kit.fontawesome.com/30fc0982d8.js"></script>
  <script type="text/javascript" src="assets/js/fontawesome/font.js"></script>

  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">

</head>
<body>
  <div id="ms_app">
    <header id="ms_header">
      <nav id="header_nav" class="navbar">
        <nav id="navbar_top">
          <div class="navbar_top_left">
            <label for=""></label>
            <select class="language" >
              <option v-for="language in languageSelect"><a :href="`${language.link}`">{{language.language}}</a></option>
            </select>
          </div>
          <!-- /.navbar_top_left -->
          <div class="navbar_top_right">
            <ul class="items_menu">
              <li class="navbar_items_menu" v-for="(items, index) in itemsMenu">
                <a :href="`${items.link}`" class="items_menu">{{items.title}}</a>
                <a :href="`${items.badgeTitle}`" v-if="items.badge" class="items_badge">{{items.badgeTitle}}</a>
              </li>
            </ul>
            <ul class="navbar_social flex">
              <li class="social_icon" v-for="(icon,index) in socialIcons">
                <a :href="`${icon.link}`"><i :class="`fab ${icon.icon}`"></i></a>
              </li>
            </ul>
            <!-- /.navbar_social -->
          </div>
          
        </nav>
        <!-- /#navbar_top -->
        <nav class="navbar_bottom">
          <img :src="`${logo}`" alt="logo ms">
          <div class="search_bar">
            <span class="search_categories">
              <i class="fas fa-bars"></i>
              <span class="categories_search">{{categories.type}}</span>
              <!-- in questo punto possiamo generare mediante vue la lista delle categorie da associare come filtro, attivando la condizione show!=show mediante funzione @click="vis"-->
              <ul class="categories_menu_search" v-if="categories.state">
                <li v-for="category in categories.category">{{category.categoryName}}</li>
              </ul>
              <!-- /.category -->
            </span>
            <!-- @submit.prevent="searchCourses()" con submit -->
            <form method="POST">
              <input type="search" maxlength="200" v-model="searchCourses" placeholder="Search Courses" class="input_search">
            <!-- @click="searchCourses()" su button/icon -->
          </form>
          <button class="magnifier_button">
            <i class="fal fa-search"></i>
          </button>
            <div class="wrap_link">
              <a class="link_navbar_button" :href="`${loginEelement.link}`" v-for="loginEelement in linkNavbarButtom">
                <i :class="`fab ${loginEelement.icon}`"></i>
                <samp>{{loginEelement.txt}}</samp>
              </a>
            </div>
            <!-- /.login -->
            <!-- /.search -->
          </div>
          <div class="login flex">
              <a :href="`${element.link}`" :class="`${element.class}`" v-for="element in login">
                <i :class="`${element.icon}`" v-if="element.icon != ''"></i>
                <span>{{element.txt}}</span>
              </a>
          </div>
        </nav>
        <!-- /#navbar_bottom -->
      </nav>
        <!-- /.navbar -->

      <div class="jumbotron container">
        <div class="info_box">
          <h1 class="primary_titel mb_30">Start Investing in You</h1>
          <p class="info_spot mb_30">With over 1200 courses in 18 subjects, you're guaranteed to find something that's
            right
            for you.</p>
            <a class="btn btn-primary" href="sectorized_offers">Join for free</a>
        </div>
        <figure class="img_box">
          <img :src="`${img.src}`" alt="" :class="`${img.name}`" v-for="img in imgBox">
        </figure>
        <!-- /.img_box -->
        <!-- /.info_box -->
      </div>
    </header>
    <!-- /#ms_header -->

    <!-- MAIN  -->
    <main>
      <section class="offers_preview mb_30">
        <div class="wrap_card_preview">
          <div class="preview_card" v-for="card in previewCard">
            <i :class="`icon_preview ${card.icon}`"></i>
            <h4 class="card_title">{{card.txt}}</h4>
            <p class="description">{{card.description}}</p>
          </div>
          <!-- /.preview_card -->
        </div>
        <!-- /.wrap_card_preview -->
        <div class="preview_courses grid">
          <figure class="course_window" v-for="imgage in categories.category ">
            <a :href="`${imgage.courses.link}`"><img :src="`${imgage.courses.src}`" alt=""></a>
            <div class="footer_img">
              <a class="category_link" :href="`${imgage.link}`">{{imgage.categoryName}}</a>
              <a :href="`${imgage.link}`">{{imgage.courses.numberCourses}} Courses</a>
            </div>
          </figure>
        </div>
        <!-- /.preview_courses -->
      </section>
      <!-- /.offert_preview -->
      <section class="info_banner">
        <div class="info_text">
          <h2 class="banner_title mb_30">{{infoBanner[0].title}}</h2>
          <p class=banner_description>{{infoBanner[0].description}}</p>
          <a href="#" class="btn_read">read more</a>
        </div>
        <!-- /.info_text -->
      </section>
      <!-- /.info_banner -->
      <section class="showcase_products">
        <h2 class="title" mb_30>Recent courses </h2>
        <ul class="categories_filter">
          <li class="category_type"> All Categories</li>
          <!-- qui generare funzione filtro -->
          <li class="category_type " v-for="(caregory, ind) in recentCourses.categories">{{caregory}}</li>
        </ul>
      </section>
      <!-- /.showcase_products -->
      <section class="our_numbers">
        <!-- si potrebbe inserire un container cosi da dare un background color di sfondo a  our_numbers w100% e l'immagine in bg al wrap-->
        <div class="our_wrap">
          <div class="text_area">
            <h2>{{numberSection.title}}</h2>
            <h3>{{numberSection.description}}</h3>
          </div>
          <!-- /.text_area -->
          <div class="wrap_numbers">
            <div class="box_number" v-for="val in numberSection.numbers">
              <h2>{{val.numb}}</h2>
              <h4>{{val.reference}}</h4>
            </div>
            <!-- /.box_number -->
          </div>
          <!-- /.wrap_numbers -->
        </div>
        <!-- /.our_wrap -->
      </section>
      <!-- /.our_numbers -->
      <section class="newsletter">
        <div class="info_newsletter">
          <h3></h3>
          <h4></h4>
        </div>
        <form>
          <label for=""></label>
          <input type="email" name="" id="">
          <input type="submit" value="SUBSCRIBE">
        </form>
        <!-- /.info_newsletter -->

      </section>
      <!-- /.newsletter -->
      <section class="carousel_courses">

      </section>
      <!-- /.carousel_courses -->
      <section id="business_box">
        <div class="business_card">
          <img src="" alt="">
          <h2></h2>
          <h3></h3>
          <a href=""></a>
        </div>
        <!-- /.business_card -->

      </section>
      <!-- /.business_box -->
      <section class="testimonial">
        <div class="containe">
          <div class="bubble_wrap">
            <div class="bubble">
              <h2>{{}}</h2>
              <p></p>
              <h3></h3>
              <h4></h4>
            </div>
            <!-- /.bubble -->
          </div>
          <!-- /.bubble_wrap -->
        </div>
      </section>
      <!-- /.testimonial -->

    </main>
    <!-- /MAIN  -->

    <!-- FOOTER  -->
    <footer>
      <div class="footer_wrap flex">
        <section class="about_section footer_box">
          <h2 class="section_title">{{footer.sectionAbout.title}}</h2>
          <p class="about_text">
            <a :href="`${footer.sectionAbout.societyLink.link}`" title="">{{footer.sectionAbout.societyLink.name}}
            </a>
            {{footer.sectionAbout.description}} <br> Developed by
            <a :href="`${footer.sectionAbout.societyLink.link}`">  {{footer.sectionAbout.by.txt}}</a>
          </p>
          <ul class="social flex">
            <li v-for="(icon, key) in footer.sectionAbout.socialContacts">
              <a :href="`${footer.sectionAbout.socialContacts[key].link}`">
                <i :class="`social_icon ${footer.sectionAbout.socialContacts[key].icon}`"></i>
              </a>
            </li>
          </ul>
        </section>
        <section class="contact_section footer_box">
          <h2 class="section_title">{{footer.sectionContact.title}}</h2>
          <p class="address">{{footer.sectionContact.address}}</p>
          <ul class="phone_numbers">
            <li class="phone_number" v-for="(number, i) in footer.sectionContact.numbers">{{number}}</li>
          </ul>
          <a :href="`${footer.sectionContact.email.link}`">{{footer.sectionContact.email.txt}}</a>
        </section>
        <section class="pages_section footer_box">
          <h2 class="section_title">{{footer.sectionPage.title}}</h2>
          <ul class="pages_list">
            <li class="page" v-for="page in footer.sectionPage.pages">
              <a :href="`${page.link}`">{{page.txt}}</a>
            </li>
          </ul>
        </section>
        <section class="blog_section footer_box">
          <!-- per ottimizzare dovrei aggiungere codice direttamente da vue con annessi i 4 contenitori -->
          <h2 class="section_title">{{footer.sectionBlog.title}}</h2>
          <ul class="blog_articles">
            <li class="article" v-for="article in footer.sectionBlog.articles">
              <a :href="`${article.link}`">
                <img :src="`${article.img}`" alt="">
              </a>
              <span class="wrap_text">
                <a href="">
                  <h3 class="article_title">{{article.title}}</h3>
                </a>                
                <h4 classe="date"> — {{article.date}}</h4>
              </span>
            </li>
          </ul>
        </section>

      </div>
      <!-- /.footer_wrap -->
    </footer>
    <!-- /FOOTER  -->



  </div>
  <!-- /#ms_app -->


  <!-- Collegamenteo a Vue.js - development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Script di collegamento libreria axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Script collegamento main.j locale  -->
  <script src="assets/js/main.js" charset="utf-8"></script>
  
</body>
</html>