/* Root const */
:root{
  --w_cont: calc(100% * (1690 / 1920));
  --w_wrap: 1280px;
}


/* reset Rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility class */

.mb_30{
  margin-bottom: 30px;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}
/* Utility class */

.flex{
  display: flex;
}

ul:not(.pages_list) {
  list-style: none;
}

a{
  text-decoration:none;
}

body {
  max-width: 1920px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#ms_app{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header{
  width: var(--w_cont);
  background-color: #ffffff;
  margin-bottom: 25px;
}

.navbar{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#navbar_top{
  height: 50px;
  width: 100%;
  font-family: 'Montserrat',
  sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #777;
  font-size: 12px;
  position: relative;
  margin-bottom: 20px;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  z-index: 100;
}

.navbar_top_left{
  width: 50%;
}

select.language,
select:focus{
  border: none;
}

.language option {
  background-color: #f0f4fa;
}

.navbar_top_right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.items_menu {
  display: flex;
  justify-content: flex-start;
  margin-right: 15px;
}

.navbar_items_menu {
  position: relative;
}

.navbar_items_menu>.items_menu {
  color: #777;
  padding: 0 10px;
  margin: 4px 2px;
  text-transform: capitalize;
}

a.items_badge{
  position: absolute;
  right: 0px;
  top: -8px;
  background: #dc1245;
  color: #fff;
  padding: 0 5px;
  font-size: 8px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  line-height: 14px;
}

.navbar_social a{
  margin-left: 18px;
  margin-bottom: 0;
  font-family: 'Montserrat',
  sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #777;
  font-size: 14px;
  transition: all .3s cubic-bezier(0, .01, .27, 1);
}
.navbar_social a:hover {
  color: #195ec8;
}

.navbar_bottom{
  display: flex;
  color: #273044;
  font-family: 'Open Sans',
  sans-serif;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
}


.search_bar{
  padding-left: 30px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.search_bar form{
  width: 50%;
}

.search_bar input{
  height: 45px;
  max-width: inherit;
  width: 100%;
  border-radius: 0;
  border: 2px solid #e4e8ed;
  background:#e4e8ed;/* Athens Gray */
  color: #555;
  padding: 6px 12px;
  height: 45px;
}

.search_bar input:focus{
  background-color: #fff;
  border-color: #f0f2f5;
  outline: 0;
}

.navbar_bottom button{
  width: 60px;
  color: #fff;
  font-size: 17px;
  line-height: 45px;
  background-color: #1a5eca ;/* Denim */
  text-align: center;
  border: 0;
  position: relative;
  right: 30px;
  cursor: pointer;
}



.search_categories {
  color:#273044;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Open Sans',
  sans-serif;
  font-weight: 600;
  font-size: 13px;
  padding: 10px 0;
  margin-right: 16px;
  position: relative;
}

.search_categories>svg {
  cursor: pointer;
  font-size: 11px;
  color: #777;
}

.categories_menu_search{
  max-width: 230px;
  width: max-content;
  background-color: #f0f4fa;
  text-transform: uppercase;
  font-size: 13px;
  position: absolute;
  left: 0;
  right: 30px;
  top: 100%;
  box-shadow: 0 18px 103px rgba(0, 0, 0, .05);

}

.link_navbar_button{
  margin-left: 27px;
  color: #273044;
  text-transform: capitalize;
  font-family: 'Open Sans',
  sans-serif;
  font-size: 14px;
}
.link_navbar_button:hover {
    color: #195ec8;
}

.link_navbar_button svg{
  color: #1a5eca;
}

.login{
  font-family: 'Open Sans',
  sans-serif;
  color: #273044;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.login a{
  margin-left: 35px;
}

.btn_signup,
.info_box .btn-primary,
.btn_read {
  background-color: #195ec8;
  color: #fff;
  font-family: 'Montserrat',
  sans-serif;
  text-transform: uppercase;
  line-height: 14px;
  font-size: 14px;
  border-radius: 25px;
  padding: 16px 30px;
}

.btn_signup:hover,
.info_box .btn-primary:hover,
.btn_read:hover {
  background-color: #1654B4;
}

.favourite_like{
  font-size: 28px;
}

/* ----  jumbotron--- */
.jumbotron.container{
  width: auto;
  max-width: var(--w_wrap);
  padding: 0px 15px;
  margin: 95px auto 0 auto;
  display: flex;
}
/* ----  /info_box--- */

.info_box{
  width: 60%;
  min-height: 325px;
  color: #273044;
  font-family: 'Montserrat',
  sans-serif;
  letter-spacing: -.6px;
  padding: 35px 15px 0px 50px;
  margin-top: 157px;
}

.info_box h1 {
  font-size: 64px;
  line-height: 70px;
  text-align: left;
  letter-spacing: -.4px;
  font-weight: 300;
}

.info_box p {
  line-height: 34px;
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 16px;
}

/* ----  /info_box--- */

/* ----  img_box--- */

.img_box{
  position: absolute;
  right: 12%;
}

img.base {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* si potrebbe generare una funzione in js per dare movimento */
img.book1,
img.book2,
img.bubblespeech,
img.magnifier,
img.moon {
  position: absolute;
}

img.book1{
    top: 115px;
    right: 45px;
}

img.book2 {
  bottom: 50px;
  right: 150px;
}

img.bubblespeech {
  top: 70px;
  right: 40px;
}

img.magnifier {
  bottom: 110px;
  right: 75px;
}

img.moon {
  top: 120px;
  left: 105px;
}
/* ----  /img_box--- */
/* ----  jumbotron--- */

/* ***** MAIN ***** */
main{
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

/* offers_preview */

.offers_preview{
  display: flex;
  flex-flow: column wrap;
  max-width: var(--w_wrap);
  font-family: 'Montserrat',
  sans-serif;
  padding: 0 15px;
}

.wrap_card_preview{
  display: flex;
  width: 100%;
  padding: 0 30px;
}
.preview_card{
  width: calc(100% / 3);
  color: #273044;
  background: #f2f6fb;
  padding: 30px 32px 20px 32px;
  margin: 35px 15px 0px 15px;
  transition: all .3s cubic-bezier(0, .01, .27, 1);
}
.preview_card:hover {
  transform: translatey(-7px);
}

.preview_card .icon_preview {
  height: 78px;
  font-size: 51px;
  color: #195ec8;
}

.preview_card h4{
  line-height: 26px;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}

.preview_card p {
  font-family: 'Open Sans',
  sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  opacity: .6;
}

.preview_card:hover p {
  transition: 0.3s ease;
  opacity: 1;
}

.preview_courses{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 25px;
  background-color: #fff;
  color: #444;
  margin: 4em auto;
}

.course_window:nth-child(1) {
  grid-area: 1 / 1 / 3 / 3;
}
.course_window:nth-child(2) {
  grid-area: 1 / 3 / 2 / 4;
}
.course_window:nth-child(3) {
  grid-area: 2 / 3 / 3 / 4;
}
.course_window:nth-child(4) {
  grid-area: 3 / 3 / 4 / 4;
}
.course_window:nth-child(5) {
  grid-area: 3 / 2 / 4 / 3;
}
.course_window:nth-child(5) {
  grid-area: 3 / 1 / 4 / 2;
}

.course_window{
  overflow: hidden;
}
.course_window img:hover {
  transition: transform .8s ease;
  transform: scale(1.04);
}
.course_window .footer_img {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;

}
.course_window a {
  line-height: 26px;
  font-weight: 500;
  font-size: 16px;
  color: #273044;
}

.category_link:hover{
  color: #1165e4;
}

.info_banner{
  display: flex;
  align-items: center;
  width:100%;
  height: 600px;
  background-image: url(../img/main/banner/Untitled-1-1-1-1-1.png);
  margin-bottom: 63px;
}

.info_text{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  max-width: var(--w_wrap);
  font-family: 'Montserrat',
  sans-serif;
  padding: 0 15px;
}

.banner_description ,
.banner_title,
.btn_read {
  font-family: 'Montserrat',
  sans-serif;
  color: #273044;
  margin-bottom: 30px;
  position: relative;
  left: 25%;
  padding-left: 30px;
}

.banner_title {
  width: 40%;
  font-size: 50px;
  line-height: 60px;
  text-align: left;
  font-weight: 300;
}

.banner_description {
  width: 50%;
  line-height: 34px;
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 24px;
}

.btn_read{
  color: #ffffff;
  background-color: #1a5eca;
  width: max-content;
  transform: translateX(15%);
}

/* showcase_products */
.showcase_products{
  height: 1250px;
  width: var(--w_cont);
}

.showcase_products .title{
  font-family: 'Montserrat',
  sans-serif;
  color: #273044;
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
}

.categories_filter{
  list-style: none;
  text-decoration: none;
  text-align: center;
}
.category_type{
  display: inline;
}



/* our_numbers */

.our_numbers{
  height: 755px;
  width: 100%;
  background-color: #e4e8ed;
  background-image: url(../img/main/number/we_proud.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.our_wrap{
  text-align: center;
}
.wrap_numbers{
  display: flex;
  justify-content: center;
}


/* newsletter */

.newsletter{
  height: 200px;
  width: 100%;
  background-color: #4dd3ac;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* carousel_courses */

.carousel_courses{
  height: 795px;
  width: 100%;
  background-color: #e4e8ed;
}


/*  business_box */

#business_box{
  height: 600px;
  width: 100%;
}

/* testimonial */

.testimonial{
  width: 100%;
  height: 700px;
  background-image: url(../img/main/testimonial/brooke-cagle-224821-unsplash-1-1920x700.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.testimonial .containe{
  height: 100%;
}

.bubble_wrap{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

.bubble {
  position: relative;
  width: 365px;
  max-width: 737px;
  min-height: 525px;
  padding: 0px;
  background: #FFFFFF;
  border-radius: 0px;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  right: -15px;
  top: 50%;
}

/* ***** /MAIN ***** */

/* FOOTER */

footer{
  height: 243px;
  width: 100%;
  padding: 63px 0px 25px;
  display: flex;
  justify-content: center;
}

footer>.footer_wrap{
  width: var(--w_wrap);
  padding: 0px 25px;
}
.footer_wrap h2{
  text-transform: capitalize;
  line-height: 34px;
  letter-spacing: -1.5px;
  font-family: 'Montserrat',
  sans-serif;
  font-weight: 700;
  color: #273044;
  margin-bottom: 21px;
}
.footer_box{
  width: calc(100% / 4);
  padding: 0px 15px 15px;
}

.about_section .about_text{
  font-size: 13px;
  line-height: 20px;
  font-family: 'Open Sans',
  sans-serif;
}

.about_section a{
  color: #1165e4;
}

.footer_box .social li{
  margin: 15px 15px 0 0;
  font-size: 20px;
}

.footer_box .social a,
.contact_section a {
  color: #aaa;
  transition: all .25s ease;
}

.footer_box .social a:hover,
.contact_section a:hover {
  color: #195ec8;
}
/* about */

/* contact */
.contact_section .address,
.phone_numbers {
  margin-bottom: 12px;
}


.pages_list{
  columns: 2;
  text-transform: capitalize;
  width: fit-content;
  list-style-position: inside;
}

.pages_list .page{
  margin-bottom: 17px;
}

.pages_list a{
  color: #273044;
  line-height: 12px;
  font-weight: 400;
}

.pages_list a:hover {
  color: #1654d8;
}


.blog_articles .wrap_text{
  display: inline-block;
  width: 70%;
}

